{% extends "layout.html" %}

{% block title %}Halaman registrasi{% endblock %}

{% block content %}
    <form action="{{ url_for('registrasi') }}" method=post>
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="username" class="form-control" placeholder="Username" name="username" required>
         </div>
       <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" placeholder="Email" name="email" required>
       </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" placeholder="Input password" name="password" required>
       </div>
          <button type="submit" class="btn btn-primary">Submit</button>
     </form>
{% endblock %}