<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Admin</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sit excepturi sequi, molestiae hic iusto quaerat eius expedita ullam sunt, dolore perferendis asperiores quas, perspiciatis exercitationem cum saepe. Ex, commodi.</p>

    <h1>Flask Dasar</h1>
    <ul>
        <li>Hello World</li>
        <li>Routing</li>
        <li>Render HTML</li>
        <li>Jinja Template</li>
        <li>Percabangan</li>
        <li>Perulangan</li>
    </ul>
</body>
</html>