{% extends "layout.html" %}
{% block title %}Dosen Page{% endblock %}


{% block content %}
{% if session.logged_in %}
    <h3 class="one">List Users</h3>
    <a href="/users/tambah" class="btn btn-primary" role="button">Tambah User</a>
    <a href="{{ url_for('logout') }}" class="btn btn-info" role="button">Logout</a>

  
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Level</th>
        <th scope="col">Aksi</th>
    </tr>
    </thead>
    <tbody>
        {% for d in users %}
            <tr>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>{{ d[4] }}</td>
                 <td> <a href="/users/edit/{{ d[0] }}" class="btn btn-warning" role="button">Edit</a>
                    <a href="/users/delete/{{ d[0] }}" class="btn btn-danger" role="button" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


    {% if not session.logged_in %}
        Anda belum login. <a href="{{ url_for('login') }}">Login disini </a>
    {% endif %}


{% endblock %}