<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- teams, wins, losses, gamesPlayed, points and ranks -->
                <table class="table" id="data">
                    <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Team</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Games Played</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for rank, team, win, loss, gamePlayed, point in stats %}
                            <tr>
                                <td>{{ rank }}</td>
                                <td>{{ team }}</td>
                                <td>{{ win }}</td>
                                <td>{{ loss }}</td>
                                <td>{{ gamePlayed }}</td>
                                <td>{{ point }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script>
        $(document).ready(function () {
          $('#data').DataTable();
        });
      </script>
</body>
</html>