{% extends "layout.html" %}

{% block title %}Edit Artikel{% endblock %}

{% block content %}
    <form action="/artikel/edit/{{ artikel[0] }}" method=post>
        <div class="mb-3 mt-3">
            <label for="judul" class="form-label">judul:</label>
            <input type="text" class="form-control" placeholder="title" name="title"  value="{{ artikel[1] }}" required>
         </div>
       <div class="mb-3 mt-3">
          <label for="description" class="form-label">Deskripsi:</label>
          <textarea name="description" class="form-control"  cols="100%" rows="10" required>{{ artikel[2] }}</textarea>
       </div>
        <div class="mb-3">
          <label for="category" class="form-label">Kategori:</label>
          <SELECT name="category" class="form-control" >

            {% for j in categories %}
                <!-- dikasih if  -->
                {% if artikel[4] == j[0] %}
                    <OPTION value={{j[0]}} selected >{{j[1]}}</OPTION>
                {% else %}  
                    <OPTION value={{j[0]}} >{{j[1]}}</OPTION>
                {% endif %}
                
                
            {% endfor %}
            </SELECT>
       </div>
          <button type="submit" class="btn btn-primary">Update Artikel</button>
     </form>
{% endblock %}

